==
<div class="row m-t-5 bk-white main-nav hidden-print"  data-spy="affix" data-offset-top="197">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0;">
    <!-- nav -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header hidden-lg hidden-md">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url('/') }}">
            <img src="{{ 'assets/images/bottom_main_gulf_logo.jpg' | theme }}" alt="Logo">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url('/') }}">প্রচ্ছদ <span class="sr-only">(current)</span></a></li>
            <li><a href="{{ url('/category', 1) }}">কাতার</a></li>
            <li><a href="{{ url('/category', 6) }}">মধ্যপ্রাচ্য</a></li>
            <li><a href="{{ url('/category', 9) }}">কমিউনিটি সংবাদ</a></li>
            <li><a href="{{ url('/category', 2) }}">বাংলাদেশ</a></li>
            <li><a href="{{ url('/category', 3) }}">বিশ্ব</a></li>
            <li><a href="{{ url('/category', 16) }}">সাহিত্য</a></li>
            <li><a href="{{ url('/category', 7) }}">সংস্কৃতি</a></li>
            <li><a href="{{ url('/category', 4) }}">কলাম</a></li>
            <li><a href="{{ url('/category', 8) }}">পরামর্শ</a></li>
            <li><a href="{{ url('/category', 10) }}">ফিচার</a></li>
            <li><a href="{{ url('/category', 18) }}">অন্যান্য</a></li>
            <li><a href="{{ url('/category', 17) }}">প্রবাসপত্র</a></li>
            <li><a href="{{ url('/category', 13) }}">খেলাধুলা </a></li>
            <li><a href="{{ url('/pdf-publication') }}">প্রকাশনা </a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- ./nav -->
  </div>
</div>