==
<?php
use ProgrammerLab\Nportal\Models\Article;
function onStart(){
  $this['headeLines'] = Article::orderBy('published_at', 'desc')
  ->where('is_breaking', 1)->select('id','title')->take(6)->get();
}
?>
==

<div class="row m-t-5 bk-white news-ticker hidden-print">
  <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 tk-head">শিরোনাম</div>
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <marquee behavior="scroll" scrollamount="3" scrolldelay="30" direction="left" onmouseover="stop();" onmouseout="start();">
        	<ul class="list-inline ticker" style="width: 1783px;">
            {% for hl in headeLines %}
            <li>
              <a href="{{ url('news', hl.id) }}">
                <i class="fa fa-caret-right" aria-hidden="true"></i>&nbsp;
                {{hl.title}}
              </a>
            </li>
            {% endfor %}
        </ul><!--end ul-->
		</marquee>
  </div>
</div>
