title = "pdf-publication"
url = "/pdf-publication"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "ProgrammerLab\Nportal\Models\PdfModel"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 10
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}





<div class="row">



      <!-- Adnetwork mob-->
      <div class="row m-t-5">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <!-- adsbygoogle_728x90 -->              
              <!-- Single Top -->
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="ca-pub-3244995337542395"
                   data-ad-format="auto"
                   data-full-width-responsive="true"
                   data-ad-slot="8644024277"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
              <!-- End of adsbygoogle_728x90 -->
          </div>
      </div>
      <!-- ./adnetwork -->


    <!-- Main Content -->
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <!-- page header -->
        <div class="row bk-white m-t-5">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="box">
                <div class="box-header">
                    <h4> পিডিএফ প্রকাশনা</h4>
                </div>
              </div>
            </div>
        </div>



    <div class="row m-t-5">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <div class="row m-t-5">
              {% for record in records %}
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bk-white-n sm-b-margin">
                <div class="box-npw">
                  <div class="media">         
                    <div class="media-body pdf-body">
                      <a href="http://gulfbangla.com/storage/app/media/{{ record.file }}" target="_blank">
                        <h4 class="media-heading"><i class="fa fa-md fa-file-pdf-o" aria-hidden="true"></i> {{ record.title }} </h4>
                        <p>{{ web.title }}</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>

        </div>


{% if records.lastPage > 1 %}
    <ul class="pagination">
        {% if records.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..records.lastPage %}
            <li class="{{ records.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}


    </div>



</div>


    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">



      <div class="row m-t-5">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0;padding-right: 0;">            
            <!-- Single Page Top right -->
            <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-3244995337542395"
               data-ad-slot="9274579663"
               data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
      </div>




    </div>





</div>