title = "Single"
url = "/news/:news_id"
layout = "default"
is_hidden = 0
==
<?php
use ProgrammerLab\Nportal\Models\Article;
use ProgrammerLab\Nportal\Models\Category;
use ProgrammerLab\Nportal\Models\Ad;
function onStart(){
  $articleID = $this->param('news_id');
	$articleObj = Article::find($articleID);
	$this['article'] = $articleObj;
	if(!$this['article']){
		return Redirect::to('/error/404');
	}
  $firstCat = $this['article']->categories[0];
  $this['relatedNews'] = $firstCat->articles()->where('status', 'published')->orderBy('published_at', 'desc')->select('id', 'short_title' , 'feature_img')->take(3)->get();
  // latest news =================================================================
  $this['latestNews'] = Article::getLatestNews(10);
  // top news ====================================================================
  $this['topNews'] = Article::getTopNews(10);

  DB::table('programmerlab_nportal_articles')->where('id', $articleID)->increment('hit_count');

  // advertisement==============================================================
  $this['snAd1'] = Ad::where('is_single_1', 1)->orderBy('created_at', 'desc')->take(1)->get();
  $this['snAd2'] = Ad::where('is_single_2', 1)->orderBy('created_at', 'desc')->take(1)->get();
  $this['snsAd1'] = Ad::where('is_single_sidebar_1', 1)->orderBy('created_at', 'desc')->take(1)->get();
  $this['snsAd2'] = Ad::where('is_single_sidebar_2', 1)->orderBy('created_at', 'desc')->take(1)->get();
  $this['snsAd3'] = Ad::where('is_single_siderbar_3', 1)->orderBy('created_at', 'desc')->take(1)->get();


$replace_word_one="
<div class='margin-b-15'>
                <ins class='adsbygoogle' 
                style='display:block; text-align:center;' 
                data-ad-layout='in-article'
                data-ad-format='fluid' 
                data-ad-client='ca-pub-3244995337542395'
                data-ad-slot='6457899582'></ins>
                <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </div> 

";


$replace_word_two="
<div class='margin-b-15'>
                <ins class='adsbygoogle' 
                style='display:inline-block;width:728px;height:15px'              
                data-ad-format='link' 
                data-ad-client='ca-pub-3244995337542395'
                data-ad-slot='8410750287'></ins>
                <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </div> 

";

$replace_word_three="
<div class='margin-b-15'>
                <ins class='adsbygoogle' 
                style='display:inline-block;width:728px;height:15px'              
                data-ad-format='link' 
                data-ad-client='ca-pub-3244995337542395'
                data-ad-slot='3961880524'></ins>
                <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </div> 

";

$replaced_word = 
[
"AdNews_1", 
"AdNews_2",
"AdNews_3",
];

$replace_with = 
[
"$replace_word_one", 
"$replace_word_two",
"$replace_word_three",
];
  

$hold=str_replace( $replaced_word,$replace_with,$articleObj->content);                    
$this["myVar"] = $hold;                   
  
  
}
?>
==
{% put head %}
  <!-- fb open graph -->
  <meta property="og:url"           content="{{ url('/news', article.id ) }}" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="{{ article.title }}" />
	<meta property="og:description"   content="{{ article.excerpt }}" />
	<meta property="og:image"         content="{{ article.feature_img | media | resize(476, 250, { mode: 'crop', quality: '80', extension: 'jpg' })  }}" />
	<!-- ./fb open graph -->

  <!-- SEO meta -->
  <meta name="description" content="{{ article.excerpt }}">
  <meta name="keywords" content="{{ article.keywords }}">

{% endput %}

<div class="row">
    <!-- Main Content -->
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">

      <!-- advertisement -->
      {% if snAd1[0] %}
      <div class="row bk-white-n m-t-5 hidden-print">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0;padding-right: 0;">
            <div class="box-ad text-center">
              <a href="{{ snAd1[0].url }}">
                <img class="img-responsive" src="{{ snAd1[0].ad_img | media }}" alt="Advertisement" style="width: 870px; height: 80px;">
              </a>
            </div>
          </div>
      </div>
      {% endif %}
      <!-- advertisement -->
      <!-- Adnetwork -->
      <div class="row m-t-5 hidden-sm hidden-xs">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-left: 8%;">
              <!-- adsbygoogle_728x90 -->              
              <!-- GulfbanglaSingle -->
              <ins class="adsbygoogle"
                   style="display:inline-block;width:728px;height:90px"
                   data-ad-client="ca-pub-3244995337542395"
                   data-ad-slot="6131329826"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
              <!-- End of adsbygoogle_728x90 -->
          </div>
      </div>
      <!-- ./adnetwork -->

      <!-- Adnetwork mob-->
      <div class="row m-t-5 hidden-md hidden-lg">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-left: 4%;">
              <!-- adsbygoogle_728x90 -->              
              <!-- Single Top -->
              <ins class="adsbygoogle"
                   style="display:inline-block;width:300px;height:250px"
                   data-ad-client="ca-pub-3244995337542395"
                   data-ad-slot="5515900501"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
              <!-- End of adsbygoogle_728x90 -->
          </div>
      </div>
      <!-- ./adnetwork -->

      <div class="row m-t-5">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bk-white-n">
          <div class="single-header margin-b-15">
              <ol class="breadcrumb">
                <li><a href="{{ url('/category/1') }}">{{ article.categories[0].display_name }}</a></li>
                <a onclick="window.print()" class="pull-right"><i class="fa fa-print" aria-hidden="true"></i></a>
              </ol>
              <h5 class="hunger">{{ article.hanger }} </h5>
              <h2 class="n-title">{{ article.title }}</h2>
              <h5 class="shoulder">
                {% if article.shoulder %}
                <i class="fa fa-pencil" aria-hidden="true"></i> {{ article.shoulder }} | {% endif %} <span class="n-date"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{ article.getBanglaDate() }}</span>

              </h5>
          </div>

          <!-- Share -->
          <div class="share-btn hidden-print m-b-10">
            <!-- <ul>
              <li>
                  <div class="fb-share-button" data-href="{{ url('/news', article.id ) }}" data-layout="button_count" data-size="small" data-mobile-iframe="true">
                      <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a>
                  </div>
              </li>
              <li>
                  <a href="{{ url('/news', article.id ) }}" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              </li>
              <li>
                	<div class="g-plus" data-action="share" data-width="300" data-href="{{ url('/news', article.id ) }}"></div>
              </li>
            </ul> -->
            <!-- Share this -->
            <div class="sharethis-inline-share-buttons"></div>
            <!-- Share this -->
            
          </div>
          <!-- ./Share -->

          <div class="single-news-content margin-b-15 clearfix">
              <!-- google ad -->
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-3244995337542395"
                data-ad-slot="4824290731"></ins>
              <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
              <!-- ./google ad -->

              {% if article.is_feature_img %}
              <div class="sn-feature">
                <img class="img-responsive" src="{{ article.feature_img | media }}" alt={{ article.title }}>
                {% if article.caption %}
                <h2 class="img-cption">{{ article.caption }}</h2>
                {% endif %}
              </div>
              {% endif %}


         
       
              
                {{ myVar|raw }}
                
                
                
                <div class="contentMessage">
                <p>গালফবাংলায় প্রকাশিত যে কোনো খবর কপি করা অনৈতিক কাজ। এটি করা থেকে বিরত থাকুন। গালফবাংলার ফেসবুক পেজে লাইক দিয়ে সঙ্গে থাকুন।       <br>খবর বা বিজ্ঞাপনের জন্য যোগাযোগ করুন: editorgulfbangla@gmail.com </p>     </div>
              

              <div class="gads">                
                <!-- Single Page Middle 1 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-3244995337542395"
                     data-ad-layout-key="-7n+f1-1r-45+ee"
                     data-ad-format="fluid"
                     data-ad-slot="8354909968"
                     ></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </div>
              
              
              
         <!-- adsbygoogle -->
              <div class="gads">                
                <!-- Single Page Middle 1 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-3244995337542395"
                     data-ad-slot="6483543419"
                     data-ad-format="link"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </div>
              <!-- adsbygoogle -->
          </div>

          <!-- share this -->
          <div class="sharethis-inline-share-buttons hidden-print m-t-15"></div>
          <!-- ./share this -->
        </div>
      </div>


        <!-- tags -->
        {% if article.keywords %}
        <div class="row m-t-5">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bk-white-n hidden-print">
            <div class="box">
              <strong>{{ article.keywords }}</strong>
            </div>
          </div>
        </div>
        {% endif %}
        <!-- ./tags -->

        <!-- Author -->
        {% if article.author_name %}
        <div class="row m-t-5 hidden-print">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bk-white-n">
            <div class="box">
              <div class="media">
                {% if article.author_img %}
                <div class="media-left media-middle">
                    <img class="media-object" src="{{ article.author_img | media | resize(68,68, { mode: 'crop', quality: '80' }) }}" alt="{{ article.author_name }}">
                </div>
                {% endif %}
                <div class="media-body">
                  <h4 class="media-heading">{{ article.author_name }}</h4>
                  <p>{{ article.author_designation }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <!-- ./Author -->

        <!-- comment -->
        {% if article.comment_box %}
        <div class="row m-t-5 hidden-print">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bk-white-n">
              <div class="fb-comments" data-href="{{ url('/news',article.id ) }}" data-width="867" data-numposts="2"></div>
          </div>
        </div>
        {% endif %}
        <!-- ./comment -->

        <!-- Related news -->
        <!-- header -->
        <div class="row m-t-5 hidden-print">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bk-white-n">
            <div class="box">
              <div class="box-header">
                  <h4>সংশ্লিষ্ট খবর</h4>
              </div>
            </div>
          </div>
        </div>
        <!-- ./header -->
        <div class="row m-t-5 hidden-print">
            {% for i in 0..2 %}
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 bk-white-n">
                <div class="news-single-box">
                    <a href="{{ url('/news', relatedNews[i].id) }}" title="{{ relatedNews[i].short_title }}">
                        <img src="{{ relatedNews[i].feature_img | media | resize(277,160, { mode: 'crop', quality: '80' }) }}" alt="{{ relatedNews[i].short_title }}">
                        <h3>{{ relatedNews[i].short_title }}</h3>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- ./Related news -->

        <!-- advertisement -->
        {% if snAd2[0] %}
        <div class="row bk-white-n m-t-5 hidden-print">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0;padding-right: 0;">
              <div class="box-ad text-center">
                <a href="{{ snAd2[0].url }}">
                  <img class="img-responsive" src="{{ snAd2[0].ad_img | media }}" alt="Advertisement" style="width: 870px; height: 80px;">
                </a>
              </div>
            </div>
        </div>
        {% endif %}
        <!-- advertisement -->

        <!-- google adsence advertisement -->
        <div class="row m-t-5 hidden-print">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0;padding-right: 0;">              
              <!-- Single Footer -->
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="ca-pub-3244995337542395"
                   data-ad-slot="3661675622"
                   data-ad-format="auto"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
        </div>
        <!-- ./google adsence advertisement -->

    </div>
    <!-- ./Main Content -->

    <!-- sidebar -->
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 hidden-print">
      <!--google adnetwork -->
      
      
      <div class="row m-t-5">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0;padding-right: 0;">            
            <!-- Single Page Top right -->
            <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-3244995337542395"
               data-ad-slot="2649633009"
               data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
      </div>      
      
      <div class="row m-t-5">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0;padding-right: 0;">            
            <!-- Single Page Top right -->
            <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-3244995337542395"
               data-ad-slot="4794083450"
               data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
      </div>
      <!-- ./googadnetwork -->

      <!-- advertisement -->
      {% if snsAd1[0] %}
      <div class="row bk-white m-t-5">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0;padding-right: 0;">
            <div class="box-ad text-center">
              <a href="{{ snsAd1[0].url }}">
                <img class="img-responsive" src="{{ snsAd1[0].ad_img | media }}" alt="Advertisement" style="width: 282px; height: 80px;">
              </a>
            </div>
          </div>
      </div>
      {% endif %}
      <!-- advertisement -->

      <!-- latest news -->
      <div class="row m-t-5 ls-news">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bk-white">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
           <li role="presentation" class="active">
             <a href="#latest" aria-controls="home" role="tab" data-toggle="tab">সর্বশেষ</a></li>
           <li role="presentation">
             <a href="#most-readed" aria-controls="most-readed" role="tab" data-toggle="tab">আলোচিত</a>
           </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
           <div role="tabpanel" class="tab-pane active" id="latest">
             <div class="box">
               <div class="box-content">
                 <div class="list-group">
                    {% for ls in latestNews %}
                     <a href="{{ url('/news', ls.id) }}" title="{{ ls.title }}" class="list-group-item">
                       {{ ls.short_title }}
                     </a>
                    {% endfor %}
                   </div>
               </div>
             </div>
           </div>
           <div role="tabpanel" class="tab-pane" id="most-readed">
             <div class="box">
               <div class="box-content">
                 <div class="list-group">
                   {% for tn in topNews %}
                    <a href="{{ url('/news', tn.id) }}" title="{{ tn.title }}" class="list-group-item">
                      {{ tn.short_title }}
                    </a>
                   {% endfor %}
                   </div>
               </div>
             </div>
           </div>
          </div>
        </div>
      </div>
      <!-- ./latest news -->
      <!-- advertisement -->
      {% if snsAd2[0] %}
      <div class="row bk-white m-t-5">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0;padding-right: 0;">
            <div class="box-ad text-center">
              <a href="{{ snsAd2[0].url }}">
                <img class="img-responsive" src="{{ snsAd2[0].ad_img | media }}" alt="Advertisement" style="width: 282px; height: 80px;">
              </a>
            </div>
          </div>
      </div>
      {% endif %}
      <!-- advertisement -->
      <!-- advertisement -->
      {% if snsAd3[0] %}
      <div class="row bk-white m-t-5">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0;padding-right: 0;">
            <div class="box-ad text-center">
              <a href="{{ snsAd3[0].url }}">
                <img class="img-responsive" src="{{ snsAd3[0].ad_img | media }}" alt="Advertisement" style="width: 282px; height: 250px;">
              </a>
            </div>
          </div>
      </div>
      {% endif %}
      <!-- advertisement -->

      <!-- adnetwork -->
      <div class="row m-t-5">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0;padding-right: 0;">
          <!-- adscence -->          
          <!-- Sigle Side -->
          <ins class="adsbygoogle"
          style="display:inline-block;width:300px;height:600px"
          data-ad-client="ca-pub-3244995337542395"
          data-ad-slot="9679686421"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          <!-- adscence -->
        </div>
      </div>
      <!-- ./adnetwork -->
      
      


      <!-- adnetwork -->
      <div class="row m-t-5">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0;padding-right: 0;">
          <!-- adscence -->          
          <!-- Sigle Side -->
          <ins class="adsbygoogle"
          style="display:inline-block;width:300px;height:600px"
          data-ad-client="ca-pub-3244995337542395"
          data-ad-slot="5209871872"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          <!-- adscence -->
        </div>
      </div>
      <!-- ./adnetwork -->      
      
      

    </div>
    <!-- ./sidebar -->
</div>

<!-- ---Ad code---- -->
<div class="m-t-10">  
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-format="autorelaxed"
       data-ad-client="ca-pub-3244995337542395"
       data-ad-slot="4716234663"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<!-- ---Ad code---- -->

{% put foot %}
<script>

  //  for copy right protection===============================================
function disableselect(e) {
  return false
}
function reEnable() {
  return true
}

document.onselectstart = new Function("return false")

if (window.sidebar) {
  document.onmousedown = disableselect  // for mozilla
  document.onclick = reEnable
}

function clickIE() {
  if (document.all) {
    (message);
    return false;
  }
}


document.oncontextmenu = new Function("return false")

var element = document.getElementById('tbl');

element.onmousedown = function () { return false; }

</script>
{% endput %}